*{
    text-align: center;
}
.livre{
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
}
.livre-header-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
}
.ul-list-livre{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    list-style-type: none;
    padding:0;
}
.a-list-livre-btn{
    text-decoration: none;
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(35px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
  }
  
  .button:hover {
    background: #cc0000;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #b20000;
  }
  
  .button:active {
    border: 1px solid #b20000;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    width: 150px;
    margin: 0 10px; /* Espace entre les boutons */
  }
  
  